<table class="center">
<tr><td><table class="auth">
	<tr><th colspan="2">Sign in through one of these services:</th></tr>
	<tr><td><a href="/auth/twitter" class="auth_provider">
	  <%= image_tag "../images/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
	  Twitter</a></td>
	<td><a href="/auth/facebook" class="auth_provider">
	  <%= image_tag "../images/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
	  Facebook
	</a></td></tr>
</table>
<td>
<table class="auth">
	<tr><th colspan="2">Already member signin</th></tr>
	<tr><td>EmailID<td><input type="text"></td></tr>
	<tr><td>Password<td><input type="password"</td></tr>
	<tr><td colspan="2"><input type="checkbox">Remember me</td></tr>
	<tr><td><input type="submit" value="Login"><td><input type="reset" value="cancel"></tr>
</table>
<td>
<table class="auth">
	<tr><th colspan="3">New user signup</th></tr>
	<tr><td>EmailID<td><input type="text"></td></tr>
	<tr><td>Password<td><input type="password"</td></tr>
	<tr><td>Confirm Password<td><input type="password"</td></tr>
	<tr><td><input type="submit" value="Login"><td><input type="reset" value="cancel"></tr>
</table>
</table>