<div id="content">
<h2>Articles</h2>
<ul class="articles-list">
<li>
<img src="images/img6.jpg" alt="">
<h4>Article 1</h4>
<p>Description is to be here. Since we have no idea what your article is about we just put standart "Lorem ipsum" text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
<a href="article.html">Read More &gt;&gt;</a>
</li>
<li>
<img src="images/img7.jpg" alt="">
<h4>Article 2</h4>
<p>Description is to be here. Since we have no idea what your article is about we just put standart "Lorem ipsum" text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
<a href="#">Read More &gt;&gt;</a>
</li>
<li>
<img src="images/img8.jpg" alt="">
<h4>Article 3</h4>
<p>Description is to be here. Since we have no idea what your article is about we just put standart "Lorem ipsum" text here. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
<a href="#">Read More &gt;&gt;</a>
</li>
</ul>
<div class="inner_copy">
More
<a href="http://www.templates.com/">Website Templates</a>
@ Templates.com!
</div>
</div>
