<div id="header">
	
	<div class="row-1">
		<ul class="top-nav">
			<li><a href=<%= root_path %>><img src="images/icon-home.gif" alt=""></a>
			<li><a href='#'><img src="images/icon-mail.gif" alt=""></a>
			<li><a href='#'><img src="images/icon-map.gif" alt=""></a>			
		</ul>	
		
		<form id="search-form" action="">
			<fieldset>Website Search &nbsp; <input class="text" type="text" value="">
			</fieldset>
		</form>

	</div>

	<div class="row-2">
		<div class="indent">Night Queen	
		</div>
	</div>

	<div class="row-3">
		<ul class="site-nav">
			<li>
			<%= link_to "Home", root_path %>
			</li>
	
			<li>
			<a href="#">Venues</a>
			</li>
	
			<li>
			<a href="#">Transports</a>
			</li>

			<li>
			<a href="#">Services</a>
			</li>

			<li class="last">
			<a href="#">Contact Us</a>
			</li>
		</ul>
	</div>
</div>

